* text eol=lf

# images
*.gpg binary
*.psd binary
*.png binary
*.jpg binary
*.xlsx binary
*.jpeg binary
*.gif binary
*.ico binary

# fonts
*.ttf binary
*.otf binary
*.eot binary
*.swf binary
*.woff binary
*.woff2 binary

# other media
*.pdf binary
*.wav binary
*.mp3 binary
*.mp4 binary
*.mkv binary
*.ogg binary
*.webm binary
