node_modules/
package-lock.json
PSD/
hot/
dist/
build/
release/
temp/
tmp/
test-report.xml
lint-report.xml
Thumbs.db
.env.local
.env.*.local
.vscode
.next
.vagrant
.cache
.project
.settings
.tmproj
.DS_Store
*.idea
*.sln
*.retry
**/__generated__/*
*.bak
*.diff
*.err
*.gz
*.iml
*.log
*.orig
*.patch
*.pid
*.rej
*.swo
*.swp
*.tar
*.tgz
*.vi
*.zip
*~
